
    
    
    label{
        float:left;
        width:35%;
    }
    input{
        margin-right:2px;
        margin-left:2px;
        height:20px;
    }
    *{
    font-family:helvetica;
   }
      